.LandingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding-top: 1px;
  background-color: red;
}
.LandingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}
.HeadingPrimaryMain {
  font-size: 40px;
  font-weight: 700;
  animation-name: moveInLeft;
  animation-duration: 1s;
}
.HeadingPrimarySub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 7px;
  animation-name: moveInRight;
  animation-duration: 1s;
  margin-bottom: 30px;
}
.btnSection{
  height: 90%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  /* background-color: orange; */
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btnWhite {
  background-color: #fff;
  color: #777;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-radius: 100px;
  z-index: -1;
  transition: all .4s;
}
.btnWhite::after {
  background-color: #fff;
}

.btnAnimated{
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
