.Container {
  position: relative;
  height: 100vh;
  padding-top: 1px;
}
.BackgroundImg {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  background: url(../../assets/images/background/background.png);
  background-size: 100% 100%;
}
.ContentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doctorWrapper {
  width: 14rem;
  height: 28rem;
  margin-right: 15px;
  background-size: 100% 100%;
}
.ButtonWrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
}

.ButtonWrapper button {
  width: 140px;
  height: 70px;
  border-radius: 50px;
  background-color: rgb(247, 119, 151);
  border: 0;
  transition: all 0.2s;
}
.ButtonWrapper button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.ButtonWrapper button:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
