.ContentBox {
  width: 45vw;
  height: max-content;
  border-radius: 50px;
  background: rgb(243, 239, 239, 0.6);
}
.ContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  font-size: 1.8rem;
  /* background-color: red; */
}
.ContentItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CharacterWrapper {
  width: 12rem;
  height: 22.5rem;
  margin-right: 15px;
}
.speakerWrapper {
  width: 100%;
  height: 70px;
}
.speakerWrapper img {
  float: right;
  width: 70px;
  height: 70px;
}
.ButtonWrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
}

.ButtonWrapper .choiceButton {
  width: 220px;
  padding: 5px;
  height: 80px;
  border-radius: 15px;
  background-color: rgb(14, 12, 114);
  border: 0;
  color: #fff;
  transition: all 0.2s;
}
.ButtonWrapper .choiceButton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.ButtonWrapper .choiceButton:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
