.scoreContainer {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgb(27, 10, 92);
  border: 6px solid rgb(170, 17, 17);
  border-radius: 15px;
}
.scoreHeader {
  position: relative;
  top: -15%;
  left: 19%;
  width: 250px;
  height: 100px;
  background-color: rgb(27, 10, 92);
  border: 6px solid rgb(170, 17, 17);
  border-radius: 15px;
  font-size: 45px;
  line-height: 80px;
  text-align: center;
  color: rgb(238, 205, 18);
}
.scorebody {
  position: relative;
  top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.scorebody span {
  font-size: 25px;
  line-height: 60px;
  color: rgb(238, 205, 18);
}
.levelWrapper {
  width: 160px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(170, 17, 17);
  margin-bottom: 25px;
}
.starCount {
  width: 360px;
  height: 120px;
}
.scoreCount {
  width: 300px;
  height: 70px;
  border-radius: 15px;
  background-color: rgb(170, 17, 17);
  margin-top: -10px;
}
.scoreFooter {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.buttonStyle {
  width: 60px;
  height: 60px;
  border: 0;
  box-shadow: rgb(32, 31, 31);
  border-radius: 15px;
  background-color: rgb(235, 47, 88);
  color: #fff;
  transition: all 0.2s;
}
.buttonStyle:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.buttonStyle:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
