.LoginContainer {
  position: relative;
  height: 90vh;
  padding-top: 1px;
  margin: 30px;
  background-color: orange;
}
.LoginHeader {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  animation-name: moveFromTop;
  animation-duration: 1s;
  margin-top: 15px;
}
.LoginWrapper {
  position: absolute;
  bottom: 0;
  width: 35rem;
  height: 20rem;
  margin: 0px 15px 40px 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #888888;
  background-color: #ffffff;
  animation-name: moveFromLeft;
  animation-duration: 1s;
}
.LoginWrapper2 {
  position: absolute;
  top: 80px;
  right: 0;
  /* width: 25rem; */
  margin: 0px 15px 40px 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #888888;
  background-color: #ffffff;
  animation-name: moveFromLeft;
  animation-duration: 1s;
}
.LogContent {
  /* display: flex;
  flex-direction: column; */
  margin: 25px;
  /* background-color: green; */
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
